<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD3OTAQNzT_S06bl0kDiyngSL0n3oQBWFA</string>
	<key>GCM_SENDER_ID</key>
	<string>771322263956</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ca.dinspire.gharsat</string>
	<key>PROJECT_ID</key>
	<string>gharsat-dinspire</string>
	<key>STORAGE_BUCKET</key>
	<string>gharsat-dinspire.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:771322263956:ios:cf6a34247d1e8b4b677781</string>
</dict>
</plist>